<div class="row">
    <div class="col d-flex justify-content-between align-items-center">
        <h3>{{ "USER.TITLE_USER" | translate }}</h3>
        <button
            class="btn btn-primary mb-3"
            (click)="openModalAddUser(userModal)"
        >
            <i class="bi bi-plus-lg"></i>
            {{ "USER.TITLE_ADD_USER" | translate }}
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-table-client [rows]="users">
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ "USER.EMAIL" | translate }}
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-index="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <button
                                class="btn btn-sm btn-link"
                                (click)="openModalEditUser(userModal, row.id)"
                            >
                                {{ row.email }}
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ "USER.FULL_NAME" | translate }}
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-index="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.fullName }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ "USER.CREATED_AT" | translate }}
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-index="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.createdAt | formatDate }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ "USER.UPDATED_AT" | translate }}
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-index="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.updatedAt ?? row.createdAt | formatDate }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="50">
                        <ng-template
                            let-row="row"
                            let-index="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <button
                                class="btn btn-sm btn-outline-danger"
                                (click)="
                                    openModalDeleteUser(
                                        confirmDeleteModal,
                                        row.id
                                    )
                                "
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </app-table-client>
            </div>
        </div>
    </div>
</div>

<ng-template #userModal>
    <form [formGroup]="form">
        <div class="modal-header">
            <h4 class="modal-title pull-left">
                {{ "USER.TITLE_ADD_USER" | translate }}
            </h4>
            <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="closeModalAddUser()"
            >
                <span
                    aria-hidden="true"
                    class="visually-hidden"
                    >&times;</span
                >
            </button>
        </div>
        <div class="modal-body">
            <div class="row gap-3">
                <div class="col-12">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="fullName"
                        placeholder="{{ 'USER.FULL_NAME' | translate }}"
                    />
                </div>
                <div class="col-12">
                    <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="{{ 'USER.EMAIL' | translate }}"
                    />
                </div>
                <div class="col-12">
                    <input
                        type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="{{ 'USER.PASSWORD' | translate }}"
                    />
                </div>
                <div class="col-12">
                    <input
                        type="password"
                        class="form-control"
                        formControlName="confirmPassword"
                        placeholder="{{ 'USER.CONFIRM_PASSWORD' | translate }}"
                    />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <select class="form-select">
                        <option
                            selected
                            [value]="null"
                        >
                            {{ "USER.SELECT_ROLE" | translate }}
                        </option>
                        <option value="admin">
                            {{ "USER.ROLE_ADMIN" | translate }}
                        </option>
                        <option value="staff">
                            {{ "USER.ROLE_STAFF" | translate }}
                        </option>
                        <option value="user">
                            {{ "USER.ROLE_USER" | translate }}
                        </option>
                    </select>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button
                class="btn btn-secondary"
                (click)="closeModalAddUser()"
            >
                {{ "ALL.CANCEL" | translate }}
            </button>
            <button
                class="btn btn-primary"
                (click)="addUser()"
            >
                {{ "ALL.SAVE" | translate }}
            </button>
        </div>
    </form>
</ng-template>

<ng-template #confirmDeleteModal>
    <div class="modal-body text-center">
        <p>Do you want to delete this user?</p>
        <button
            type="button"
            class="btn btn-default"
            (click)="deleteUser()"
        >
            {{ "ALL.YES" | translate }}
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="closeModalDeleteUser()"
        >
            {{ "ALL.NO" | translate }}
        </button>
    </div>
</ng-template>
